$main-bg-color-white: #FFFFFF;
$main-bg-color-gray:#F6F6F6;
;


* {
    margin: 0;
}

html {
    overflow: overlay
}

.outer {
    width: 100%;
    /* margin-left: calc(50% - 1600px/2); */
    // background-color: aquamarine;


}

.section-outer {
    // width: 1200px;
    margin: 0 auto;
    // background-color: rosybrown;

}

.section-inner {
    margin: 0 auto;
    // width: 62.5%;
    width: 1200px;

    @media (max-width: 1279px) {
        width: 708px;
    }

    @media (max-width: 767px) {
        width: 300px;
    }
}



.section-header {
    // position: absolute;
    position: sticky;
    left: calc(50% - 1200px/2);
    height: 120px;
    top: 0px;
    background: #FFFFFF;

    @media (max-width: 1279px) {
        left: calc(50% - 768px/2);
        top: 0px;

    }

    @media (max-width: 767px) {
        left: calc(50% - 320px/2);
        // top: 30px;

    }

    &-wrapper {

        z-index: 10;
        // margin-top: 60px;
        width: 1200px;
        height: 60px;
        padding-top: 30px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1279px) {

            margin-left: 0px;
            width: 708px;
            // margin-top: 0px;

        }


        @media (max-width: 767px) {
            width: 200px;
            margin-left: 0px;

            // margin-top: 0px;


        }


        &-logo {
            width: 184px;
            height: 60px;

            &-main {
                width: 184px;
                height: 35px;

                /* logo_title */

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 110%;
                /* or 35px */

                display: flex;
                align-items: center;
                letter-spacing: 0.06em;

                /* color-primary */

                color: #545454;
            }

            &-text {
                margin-top: 10px;
                margin-left: 5px;
                width: 184px;
                height: 15px;

                /* logo_subtitle */

                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                /* identical to box height */

                display: flex;
                align-items: center;
                letter-spacing: 0.1em;

                /* color-light-xl */

                color: #292929;
            }
        }

        &-burger {
            @media (min-width: 767px) {
                display: none;


            }

            margin-left: 43px;
            margin-top: 3px;

            // background-color: greenyellow;
        }

        &-navigate {
            width: 443px;
            height: 27px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &-menu {
                left: 0%;
                right: 0%;

                /* paragraph-l */

                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 160%;
                /* identical to box height, or 24px */

                display: flex;
                align-items: center;

                /* color-light-l */

                color: #545454;

                /* Inside Auto Layout */

                margin: 10px 0px;

                a {
                    color: #545454;
                }

                a:active {
                    color: #545454;
                    border-bottom: 3px solid #F1CDB3;
                    ;
                }

                a:hover {
                    color: #292929;

                }
            }

            @media (max-width: 767px) {
                display: none;
            }
        }


    }

}





//////////////////////////////////////////////@while condition {


.section-ourFriends {
    height: 1342px;
    background-color: $main-bg-color-gray;



    @media (max-width: 1279px) {
        height: 1733px;
    }

    @media (max-width: 767px) {
        height: 1649px;
    }

    &-wrapper {
        width: 1200px;
        height: 1162px;
        // background-color: greenyellow;
        padding-top: 80px;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: flex-start;


        @media (max-width: 1279px) {
            width: 708px;
            height: 1603px;
        }

        @media (max-width: 767px) {
            width: 300px;
            height: 1565px;
            padding-top: 42px;
        }

        &-heading {
            // background-color: indianred;
            width: 400px;
            height: 90px;
            left: calc(50% - 400px/2);

            /* h3 */

            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            /* or 45px */
            letter-spacing: 0.06em;
            /* color-dark-l */
            color: #545454;

            display: flex;
            align-items: center;
            text-align: center;

            @media (max-width: 767px) {
                font-size: 25px;
                width: 287px;
                height: 64px;
            }
        }

        &-cards_container {
            width: 1200px;
            height: 930px;
            // background-color: hotpink;
            margin-top: 45px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: space-around;


            @media (max-width: 1279px) {
                width: 580px;
                height: 1365px;
                margin-top: 35px;
                align-content: flex-start;
            }

            @media (max-width: 767px) {
                width: 270px;
                height: 1365px;
            }



            &-card {
                height: 435px;
                width: 270px;
                background: #FAFAFA;
                border-radius: 9px;

                display: flex;
                flex-direction: column;
                align-items: center;

                @media (max-width: 1279px) {
                    margin-bottom: 28px;

                }

                &-image {
                    width: 270px;
                    height: 270px;
                    // margin-top: 30px;
                }

                &-name {
                    /* pets-card-title */

                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    /* identical to box height */


                    text-align: center;
                    letter-spacing: 0.06em;

                    /* pets-card-title */

                    color: #545454;

                    margin-top: 30px;

                }

                &-button {
                    margin-top: 30px;

                    button {
                        width: 187px;
                        height: 52px;
                        border: 2px solid #F1CDB3;
                        box-sizing: border-box;
                        border-radius: 100px;
                        margin: 0px 0px;
                        background-color: #FAFAFA;
                        font-family: Georgia;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 130%;
                        /* identical to box height, or 22px */

                        letter-spacing: 0.06em;

                        /* color-dark-xl */

                        color: #292929;

                        /* Inside Auto Layout */

                        margin: 0px 10px;

                    }

                    button:hover {
                        border: 2px solid #FDDCC4;
                        background: #FDDCC4;
                        cursor: pointer;

                    }
                }


            }

            &-card:hover {
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                cursor: pointer;
            }


            @media (max-width: 1279px) {

                &-card:nth-child(7),
                &-card:nth-child(8) {
                    display: none;
                }
            }

            @media (max-width: 767px) {

                &-card:nth-child(4),
                &-card:nth-child(5),
                &-card:nth-child(6) {
                    display: none;
                }
            }
        }

        &-navigation {
            width: 340px;
            height: 52px;
            // background-color: indianred;
            margin-top: 45px;

            display: flex;
            justify-content: space-between;

            @media (max-width: 1279px) {
                margin-top: 35px;
            }


            @media (max-width: 767px) {
                margin-top: 50px;
                width: 300px;
            }


            &-button_paginator {
                width: 52px;
                height: 52px;
                // background-color: rgb(207, 125, 1);

                &-navBut {
                    width: 50px;
                    height: 50px;
                    // border: 2px solid #F1CDB3;
                    box-sizing: border-box;
                    border-radius: 100px;

                    padding-top: 10px;
                    align-items: center;
                    text-align: center;
                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 115%;
                    letter-spacing: 0.06em;

                    @media (max-width: 767px) {
                        margin-right: 43px;

                    }

                    img {
                        // background-color: tomato;
                        margin-top: 21px;
                        margin-left: 17px;
                    }


                }

                // &-navBut:hover {
                //     cursor: pointer;

                // }
            }

            &-button_paginator:nth-child(1),
            &-button_paginator:nth-child(2) {
                // background-color: red;
                border: 2px solid #CDCDCD;
                border-radius: 100px;
                color:#CDCDCD;
            }


            &-button_paginator:nth-child(4),
            &-button_paginator:nth-child(5) {
                // background-color: red;
                border: 2px solid #F1CDB3;
                border-radius: 100px;
                cursor: pointer;
            }

            &-button_paginator:nth-child(3) {
                background-color:  #F1CDB3;
                border: 2px solid #F1CDB3;
                border-radius: 100px;
                cursor: pointer;
            }



        }
    }





}





.section-footer {


    height: 350px;
    background: url(../../assets/images/noise_lines_transparent@2X.png),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;

    @media (max-width: 1279px) {
        height: 639px;
    }

    @media (max-width: 767px) {
        height: 809px;
    }

    &-wrapper {
        // width: 1200px;
        // height: 315px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-end;
        flex-wrap: wrap;

        @media (max-width: 1279px) {
            width: 708px;
        }

        @media (max-width: 767px) {
            // height: 809px;
            width: 278px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
            justify-content: space-between;
            align-content: space-around;
            // margin-bottom: 10px;
            // background-color: greenyellow;
            height: 782px;
        }



        // background-color: sienna;

        &-box1 {
            margin-top: 21px;
            width: 279px;
            height: 234px;

            @media (max-width: 1279px) {
                margin-bottom: 60px;
                margin-left: 34px;
            }

            @media (max-width: 767px) {
                width: 278px;
                height: 208px;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-top: 0px;
            }


            &-title {
                width: 280px;
                height: 90px;

                /* h3 */

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 35px;
                line-height: 130%;
                /* or 45px */

                letter-spacing: 0.06em;

                /* color-light-xl */

                color: #FFFFFF;

                @media (max-width: 767px) {
                    font-size: 25px;
                    text-align: center;
                    margin-left: -17px;
                }
            }

            &-email {
                margin-top: 40px;
                display: flex;
                align-items: center;
                align-content: flex-start;

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 115%;
                /* identical to box height, or 23px */

                letter-spacing: 0.06em;

                /* color-primary */

                color: #F1CDB3;

                @media (max-width: 767px) {
                    margin-top: 16px;
                    margin-right: 0px;
                }
            }

            &-phone {
                margin-top: 40px;
                display: flex;
                align-items: center;
                align-content: flex-start;

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 115%;
                /* identical to box height, or 23px */

                letter-spacing: 0.06em;

                /* color-primary */

                color: #F1CDB3;

                @media (max-width: 767px) {
                    margin-top: 38px;
                }


            }

            a {
                color: #F1CDB3;
            }

            img {
                margin-right: 20px;
                // background-color: rgb(180, 10, 214);
            }

        }

        &-box2 {
            margin-top: 21px;
            width: 302px;
            height: 234px;

            @media (max-width: 1279px) {
                margin-bottom: 60px;
                margin-right: 34px;
            }

            @media (max-width: 767px) {
                width: 300px;
                height: 222px;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-top: 0px;
            }

            &-title {
                width: 270px;
                height: 90px;

                /* h3 */

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 35px;
                line-height: 130%;
                /* or 45px */

                letter-spacing: 0.06em;

                /* color-light-xl */

                color: #FFFFFF;

                @media (max-width: 767px) {
                    font-size: 25px;
                    text-align: center;
                    margin-left: 43px;
                }
            }

            &-address1 {
                margin-top: 33px;
                display: flex;
                align-items: center;
                align-content: flex-start;

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 115%;
                /* identical to box height, or 23px */

                letter-spacing: 0.06em;

                /* color-primary */

                color: #F1CDB3;

                @media (max-width: 767px) {
                    margin-top: 13px;
                    margin-left: 27px;
                    width: 295px;
                }
            }

            &-address2 {
                margin-top: 33px;
                display: flex;
                align-items: center;
                align-content: flex-start;

                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 115%;
                /* identical to box height, or 23px */

                letter-spacing: 0.06em;

                /* color-primary */

                color: #F1CDB3;

                @media (max-width: 767px) {
                    margin-top: 41px;
                    margin-left: 27px;
                    width: 295px;
                }
            }


            img {
                margin-right: 20px;
                // background-color: rgb(180, 10, 214);
            }

        }

        &-image {
            width: 300px;
            height: 315px;

            @media (max-width: 1279px) {
                margin-left: 203px;
                // margin-bottom: -5px;
                // background-color: gold;
            }

            @media (max-width: 767px) {
                width: 260px;
                height: 269px;

                margin-bottom: 0px;
                margin-left: 0px;
                margin-top: 0px;

                img {
                    width: 260px;
                    height: 269px;
                    margin-left: -26px;
                    // margin-bottom: 1px;

                }
            }

            // background-color: springgreen;
        }

    }
}