$main-bg-color-white: #FFFFFF;
$main-bg-color-gray:#F6F6F6;
;


* {
    margin: 0;
}

html {
    overflow: overlay
}

.outer {
    width: 100%;
    /* margin-left: calc(50% - 1600px/2); */
    // background-color: aquamarine;


}

.section-outer {
    // width: 1200px;
    margin: 0 auto;
    background-color: rosybrown;

}

.section-inner {
    margin: 0 auto;
    // width: 62.5%;
    width: 1200px;

    @media (max-width: 1279px) {
        width: 708px;
    }

    @media (max-width: 767px) {
        width: 300px;
    }
}



.section-header {
    background-color: seagreen;
}

//////////////////////////////////////////////@while condition {


.section-notOnly {
    height: 908px;
    background: url(../../assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

    display: flex;
    align-items: flex-end;
    align-content: flex-start;

    @media (max-width: 1279px) {
        height: 1165px;
    }

    @media (max-width: 767px) {
        height: 823px;
    }

    &-mainWrap {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: flex-end;

        &-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            align-content: flex-start;

            @media (max-width: 1279px) {
                width: 569px;
                height: 1015px;
                flex-direction: column;

                background-color: red;
                // align-content: flex-end;

            }

            @media (max-width: 767px) {
                width: 300px;
                height: 673px;
                flex-direction: column;

            }

            &-content {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                height: 725px;
                margin-bottom: 42px;

                @media (max-width: 1279px) {
                    flex-direction: column;
                    align-items: center;

                }


                &-title {
                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 44px;
                    line-height: 130%;
                    color: #FFFFFF;
                    margin-bottom: 42px;

                    @media (max-width: 1279px) {}

                    @media (max-width: 767px) {
                        font-size: 25px;

                    }
                }

                &-text {
                    font-family: Arial;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 160%;
                    color: #CDCDCD;
                    margin-bottom: 42px;
                }

                &-button {

                    button {
                        width: 207px;
                        height: 52px;
                        background: #F1CDB3;
                        border-radius: 100px;
                        font-family: Georgia;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 130%;
                        letter-spacing: 0.06em;
                        color: #292929;
                        border: 0;
                    }
                }
            }

            &-image {

                img {

                    width: 698px;
                    height: 728px;

                    @media (max-width: 1279px) {
                        width: 569px;
                        height: 593px;
                    }

                    @media (max-width: 767px) {
                        width: 260px;
                        height: 272px
                    }
                }
            }
        }
    }

}



.section-about {
    height: 588px;
    background-color: $main-bg-color-white;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    // background-color: blueviolet;
    @media (max-width: 1279px) {
        height: 1048px;
    }

    @media (max-width: 767px) {
        height: 974px;
    }

    &-wrapper {
        margin-top: 80px;
        display: flex;
        // height: 408px;
        // background-color: rgb(255, 0, 34);
        // margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1279px) {
            flex-direction: column;
            flex-direction: column-reverse;

        }

        @media (max-width: 767px) {
            margin-top: 42px;
        }


        // @media (max-width: 767px) {
        //     flex-direction: column;
        //     flex-direction: column-reverse;
        //     justify-content: space-between;

        // }




        &-image {
            height: 408px;
            width: 300px;
            // margin-left: 175px;
            // padding-right: 120px;
            // background-color: aqua;

            margin-right: 120px;

            @media (max-width: 1279px) {
                margin-top: 80px;
                margin-right: 0px;

            }

            @media (max-width: 767px) {
                margin-top: 115px;
                width: 260px;
                height: 354px;
            }

            img {
                @media (max-width: 767px) {
                    width: 260px;
                    height: 354px;
                    margin-top: 42px;
                }
            }

        }



        &-content {

            // display: flex;
            // justify-content: center;

            height: 380px;
            width: 430px;
            // background-color: rgb(44, 219, 9);

            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 160%;
            color: #4C4C4C;

            @media (max-width: 767px) {
                width: 270px;

            }


            &-title {
                font-family: Georgia;
                font-style: normal;
                font-weight: normal;
                font-size: 35px;
                line-height: 130%;
                // margin-top: 25px;
                letter-spacing: 0.06em;
                color: #545454;

                @media (max-width: 767px) {
                    font-size: 25px;
                    text-align: center;
                }


            }

            &-text1 {
                margin-top: 25px;

                @media (max-width: 767px) {
                    text-align: justify;
                }
            }

            &-text2 {
                margin-top: 25px;

                @media (max-width: 767px) {
                    text-align: justify;
                    margin-top: 22px;
                }
            }
        }

    }

}

.section-ourFriends {
    height: 877px;
    background-color: $main-bg-color-gray;

    @media (max-width: 1279px) {
        height: 877px;
    }

    @media (max-width: 767px) {
        height: 791px;
    }
}

.section-help {
    height: 611px;
    background-color: $main-bg-color-white;

    @media (max-width: 1279px) {
        height: 779px;
    }

    @media (max-width: 767px) {
        height: 745px;
    }



    &-wrapper {
        // width: 1200px;
        height: 431px;

        padding-top: 80px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1279px) {
            padding-top: 42px;
        }

        &-title {
            width: 310px;
            height: 90px;

            /* h3 */

            font-family: Georgia;
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.06em;
            color: #545454;

            @media (max-width: 767px) {
                font-size: 25px;
            }
        }

        &-wrapperIcons0 {
            // background-color: yellowgreen;
            width: 1026px;
            height: 281px;

            margin-top: 60px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-end;
            align-content: space-between;

            @media (min-width: 1280px) {

                .flIcon1 {
                    background-color: rgb(83, 18, 204);
                    // padding-left: 59px;
                    padding-right: 59px;
                }

                .flIcon2 {
                    // background-color: yellowgreen;
                    padding-left: 59px;
                    padding-right: 59px;
                }

                .flIcon3 {
                    // background-color: yellowgreen;
                    padding-left: 59px;
                    padding-right: 59px;
                }

                .flIcon4 {
                    // background-color: yellowgreen;
                    padding-left: 59px;
                    padding-right: 59px;
                }

                .flIcon5 {
                    // background-color: yellowgreen;
                    padding-left: 59px;
                    // padding-right:59px;
                }

                .flIcon6 {
                    // background-color: yellowgreen;
                    padding-left: 75px;
                    padding-right: 48px;
                }

                .flIcon7 {
                    // background-color: yellowgreen;
                    padding-left: 59px;
                    padding-right: 47px;
                }

                .flIcon8 {
                    // background-color: yellowgreen;
                    padding-left: 59px;
                    padding-right: 59px;
                }

                .flIcon9 {
                    // background-color: yellowgreen;
                    padding-left: 47px;
                    padding-right: 75px;
                }
            }

            @media (max-width: 1279px) {
                width: 630px;
                height: 449px;
                // background-color: fuchsia;

                .flIcon1 {
                    // background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 56px;
                }

                .flIcon2 {
                    // background-color: yellowgreen;
                    padding-left: 56px;
                    padding-right: 56px;
                    padding-bottom: 56px;
                }

                .flIcon3 {
                    // background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 56px;
                }

                .flIcon4 {
                    // background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 56px;
                }

                .flIcon5 {
                    // background-color: yellowgreen;
                    padding-left: 56px;
                    padding-right: 56px;
                    padding-bottom: 56px;
                }

                .flIcon6 {
                    // background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 56px;
                }

                .flIcon7 {
                    // background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .flIcon8 {
                    // background-color: yellowgreen;
                    padding-left: 56px;
                    padding-right: 56px;
                }

                .flIcon9 {
                    // background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            @media (max-width: 767px) {
                margin-top: 42px;
                width: 290px;
                height: 555px;

                .flIcon1 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 24px;
                    padding-bottom: 30px;
                }

                .flIcon2 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 30px;
                }

                .flIcon3 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 24px;
                    padding-bottom: 30px;
                }

                .flIcon4 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 30px;
                }

                .flIcon5 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 24px;
                    padding-bottom: 30px;
                }

                .flIcon6 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 30px;
                }

                .flIcon7 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 24px;
                    padding-bottom: 30px;
                }

                .flIcon8 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 30px;
                }

                .flIcon9 {
                    background-color: yellowgreen;
                    padding-left: 0px;
                    padding-right: 160px;
                }
            }

            &-icon {

                @media (max-width: 1279px) {
                    width: 170px;
                }

                @media (max-width: 767px) {
                    width: 130px;
                    height: 87px;
                }

                height: 113px;

                display: flex;
                flex-direction: column;
                align-items: center;

                &-image {
                    width: 60px;
                    height: 60px;

                    @media (max-width: 767px) {
                        width: 50px;
                        height: 50px;

                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }

                &-text {
                    font-family: Georgia;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 115%;

                    padding-top: 30px;

                    text-align: center;
                    letter-spacing: 0.06em;

                    /* color-dark-l */

                    color: #545454;

                    @media (max-width: 767px) {
                        font-size: 15px;
                        padding-top: 20px;
                    }
                }

            }





        }




    }
}

.section-inAddition {
    height: 462px;
    background-color: $main-bg-color-gray;

    @media (max-width: 1279px) {
        height: 783px;
    }

    @media (max-width: 767px) {
        height: 543px;
    }
}

.section-footer {
    background: url(../../assets/images/noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

    @media (max-width: 1279px) {
        height: 639px;
    }

    @media (max-width: 767px) {
        height: 809px;
    }
}