/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");
@media (max-width: 767px) {
  html {
    font-size: 50%;
  }
}

body {
  background: #F2357B;
  font-family: 'Rammetto One', cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper {
  margin-left: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-text {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  text-shadow: -3px -2px 0 #40011E, -3px -1px 0 #40011E, -3px 0px 0 #40011E, -3px 1px 0 #40011E, -3px 2px 0 #40011E, -2px -3px 0 #40011E, -2px -2px 0 #40011E, -2px -1px 0 #40011E, -2px 0px 0 #40011E, -2px 1px 0 #40011E, -2px 2px 0 #40011E, -2px 3px 0 #40011E, -1px -3px 0 #40011E, -1px -2px 0 #40011E, -1px -1px 0 #40011E, -1px 0px 0 #40011E, -1px 1px 0 #40011E, -1px 2px 0 #40011E, -1px 3px 0 #40011E, 0px -3px 0 #40011E, 0px -2px 0 #40011E, 0px -1px 0 #40011E, 0px 0px 0 #40011E, 0px 1px 0 #40011E, 0px 2px 0 #40011E, 0px 3px 0 #40011E, 1px -3px 0 #40011E, 1px -2px 0 #40011E, 1px -1px 0 #40011E, 1px 0px 0 #40011E, 1px 1px 0 #40011E, 1px 2px 0 #40011E, 1px 3px 0 #40011E, 2px -3px 0 #40011E, 2px -2px 0 #40011E, 2px -1px 0 #40011E, 2px 0px 0 #40011E, 2px 1px 0 #40011E, 2px 2px 0 #40011E, 2px 3px 0 #40011E, 3px -2px 0 #40011E, 3px -1px 0 #40011E, 3px 0px 0 #40011E, 3px 1px 0 #40011E, 3px 2px 0 #40011E;
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.3rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.wrapper-text-time {
  color: #F2E96B;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.wrapper-text-menu {
  color: #F2E96B;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper-text-menu:hover {
  -webkit-transform: translate(0.1rem, 0.1rem);
          transform: translate(0.1rem, 0.1rem);
}

.wrapper-text-move {
  color: #F2E96B;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.wrapper-text-move span {
  color: #05F2C7;
}

.wrapper-pause {
  color: #F2E96B;
  width: 35rem;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  text-shadow: -3px -2px 0 #40011E, -3px -1px 0 #40011E, -3px 0px 0 #40011E, -3px 1px 0 #40011E, -3px 2px 0 #40011E, -2px -3px 0 #40011E, -2px -2px 0 #40011E, -2px -1px 0 #40011E, -2px 0px 0 #40011E, -2px 1px 0 #40011E, -2px 2px 0 #40011E, -2px 3px 0 #40011E, -1px -3px 0 #40011E, -1px -2px 0 #40011E, -1px -1px 0 #40011E, -1px 0px 0 #40011E, -1px 1px 0 #40011E, -1px 2px 0 #40011E, -1px 3px 0 #40011E, 0px -3px 0 #40011E, 0px -2px 0 #40011E, 0px -1px 0 #40011E, 0px 0px 0 #40011E, 0px 1px 0 #40011E, 0px 2px 0 #40011E, 0px 3px 0 #40011E, 1px -3px 0 #40011E, 1px -2px 0 #40011E, 1px -1px 0 #40011E, 1px 0px 0 #40011E, 1px 1px 0 #40011E, 1px 2px 0 #40011E, 1px 3px 0 #40011E, 2px -3px 0 #40011E, 2px -2px 0 #40011E, 2px -1px 0 #40011E, 2px 0px 0 #40011E, 2px 1px 0 #40011E, 2px 2px 0 #40011E, 2px 3px 0 #40011E, 3px -2px 0 #40011E, 3px -1px 0 #40011E, 3px 0px 0 #40011E, 3px 1px 0 #40011E, 3px 2px 0 #40011E;
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.3rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper-pause:hover {
  -webkit-transform: translate(0.1rem, 0.1rem);
          transform: translate(0.1rem, 0.1rem);
}

.wrapper-newGame {
  color: #F2E96B;
  width: 35rem;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  text-shadow: -3px -2px 0 #40011E, -3px -1px 0 #40011E, -3px 0px 0 #40011E, -3px 1px 0 #40011E, -3px 2px 0 #40011E, -2px -3px 0 #40011E, -2px -2px 0 #40011E, -2px -1px 0 #40011E, -2px 0px 0 #40011E, -2px 1px 0 #40011E, -2px 2px 0 #40011E, -2px 3px 0 #40011E, -1px -3px 0 #40011E, -1px -2px 0 #40011E, -1px -1px 0 #40011E, -1px 0px 0 #40011E, -1px 1px 0 #40011E, -1px 2px 0 #40011E, -1px 3px 0 #40011E, 0px -3px 0 #40011E, 0px -2px 0 #40011E, 0px -1px 0 #40011E, 0px 0px 0 #40011E, 0px 1px 0 #40011E, 0px 2px 0 #40011E, 0px 3px 0 #40011E, 1px -3px 0 #40011E, 1px -2px 0 #40011E, 1px -1px 0 #40011E, 1px 0px 0 #40011E, 1px 1px 0 #40011E, 1px 2px 0 #40011E, 1px 3px 0 #40011E, 2px -3px 0 #40011E, 2px -2px 0 #40011E, 2px -1px 0 #40011E, 2px 0px 0 #40011E, 2px 1px 0 #40011E, 2px 2px 0 #40011E, 2px 3px 0 #40011E, 3px -2px 0 #40011E, 3px -1px 0 #40011E, 3px 0px 0 #40011E, 3px 1px 0 #40011E, 3px 2px 0 #40011E;
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.3rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper-newGame:hover {
  -webkit-transform: translate(0.1rem, 0.1rem);
          transform: translate(0.1rem, 0.1rem);
}

.wrapper-gamebox {
  position: relative;
  width: 40rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #A150F2;
  /* 3 */
  border: 0.5rem solid #40011E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.wrapper-gamebox-cell {
  border: 1px dotted rgba(29, 2, 78, 0.2);
  border-radius: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 3 */
}

.wrapper-gamebox-cell-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #F2E96B;
  border: 0.3rem solid #40011E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1.2rem;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  -webkit-filter: drop-shadow(0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0.3rem 0.3rem rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.wrapper-gamebox-cell span {
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-shadow: -3px -2px 0 #40011E, -3px -1px 0 #40011E, -3px 0px 0 #40011E, -3px 1px 0 #40011E, -3px 2px 0 #40011E, -2px -3px 0 #40011E, -2px -2px 0 #40011E, -2px -1px 0 #40011E, -2px 0px 0 #40011E, -2px 1px 0 #40011E, -2px 2px 0 #40011E, -2px 3px 0 #40011E, -1px -3px 0 #40011E, -1px -2px 0 #40011E, -1px -1px 0 #40011E, -1px 0px 0 #40011E, -1px 1px 0 #40011E, -1px 2px 0 #40011E, -1px 3px 0 #40011E, 0px -3px 0 #40011E, 0px -2px 0 #40011E, 0px -1px 0 #40011E, 0px 0px 0 #40011E, 0px 1px 0 #40011E, 0px 2px 0 #40011E, 0px 3px 0 #40011E, 1px -3px 0 #40011E, 1px -2px 0 #40011E, 1px -1px 0 #40011E, 1px 0px 0 #40011E, 1px 1px 0 #40011E, 1px 2px 0 #40011E, 1px 3px 0 #40011E, 2px -3px 0 #40011E, 2px -2px 0 #40011E, 2px -1px 0 #40011E, 2px 0px 0 #40011E, 2px 1px 0 #40011E, 2px 2px 0 #40011E, 2px 3px 0 #40011E, 3px -2px 0 #40011E, 3px -1px 0 #40011E, 3px 0px 0 #40011E, 3px 1px 0 #40011E, 3px 2px 0 #40011E;
  color: #05F2C7;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.wrapper-gamebox-menu {
  width: 95%;
  height: 95%;
  font-family: Rammetto One;
  font-style: normal;
  font-weight: normal;
  text-shadow: -3px -2px 0 #40011E, -3px -1px 0 #40011E, -3px 0px 0 #40011E, -3px 1px 0 #40011E, -3px 2px 0 #40011E, -2px -3px 0 #40011E, -2px -2px 0 #40011E, -2px -1px 0 #40011E, -2px 0px 0 #40011E, -2px 1px 0 #40011E, -2px 2px 0 #40011E, -2px 3px 0 #40011E, -1px -3px 0 #40011E, -1px -2px 0 #40011E, -1px -1px 0 #40011E, -1px 0px 0 #40011E, -1px 1px 0 #40011E, -1px 2px 0 #40011E, -1px 3px 0 #40011E, 0px -3px 0 #40011E, 0px -2px 0 #40011E, 0px -1px 0 #40011E, 0px 0px 0 #40011E, 0px 1px 0 #40011E, 0px 2px 0 #40011E, 0px 3px 0 #40011E, 1px -3px 0 #40011E, 1px -2px 0 #40011E, 1px -1px 0 #40011E, 1px 0px 0 #40011E, 1px 1px 0 #40011E, 1px 2px 0 #40011E, 1px 3px 0 #40011E, 2px -3px 0 #40011E, 2px -2px 0 #40011E, 2px -1px 0 #40011E, 2px 0px 0 #40011E, 2px 1px 0 #40011E, 2px 2px 0 #40011E, 2px 3px 0 #40011E, 3px -2px 0 #40011E, 3px -1px 0 #40011E, 3px 0px 0 #40011E, 3px 1px 0 #40011E, 3px 2px 0 #40011E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrapper-gamebox-menu-box1 {
  font-size: 3.5rem;
  line-height: 3.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 4 */
  color: #05F2C7;
}

.wrapper-gamebox-menu-box1-win {
  text-align: center;
}

.wrapper-gamebox-menu-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 21rem;
}

.wrapper-gamebox-menu-box2-bestGames {
  font-size: 3rem;
  line-height: 5rem;
  color: #F2E96B;
}

.wrapper-gamebox-menu-box2-bestGamesRez {
  text-shadow: -2px -1px 0 #40011E, -2px 0px 0 #40011E, -2px 1px 0 #40011E, -1px -2px 0 #40011E, -1px -1px 0 #40011E, -1px 0px 0 #40011E, -1px 1px 0 #40011E, -1px 2px 0 #40011E, 0px -2px 0 #40011E, 0px -1px 0 #40011E, 0px 0px 0 #40011E, 0px 1px 0 #40011E, 0px 2px 0 #40011E, 1px -2px 0 #40011E, 1px -1px 0 #40011E, 1px 0px 0 #40011E, 1px 1px 0 #40011E, 1px 2px 0 #40011E, 2px -1px 0 #40011E, 2px 0px 0 #40011E, 2px 1px 0 #40011E;
  color: #F2E96B;
}

.mystyle {
  color: #F2E96B;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.mystyle:hover {
  z-index: 20;
  -webkit-transform: translate(0.5rem, 5px);
          transform: translate(0.5rem, 5px);
  color: #A150F2;
  background-color: #F2E96B;
}

.color1 {
  color: #F2357B;
}

.color2 {
  color: #40011E;
}

.color3 {
  color: #A150F2;
}

.color4 {
  color: #05F2C7;
}

.color5 {
  color: #F2E96B;
}

#sizeDown {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#sizeUp {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#newGame {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#sound {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#newGame:hover {
  -webkit-transform: translate(0.1rem, 0.1rem);
          transform: translate(0.1rem, 0.1rem);
}

#sound:hover {
  -webkit-transform: translate(0.1rem, 0.1rem);
          transform: translate(0.1rem, 0.1rem);
}
/*# sourceMappingURL=style.css.map */