@import "./text-stroke";

/* Color Theme Swatches in Hex */
// $color-1-hex: #F2357B;
// $color-2-hex: #40011E;
// $color-3-hex: #A150F2;
// $color-4-hex: #05F2C7;
// $color-5-hex: #F2E96B;
// $color-6-hex: #9cf26b;

$sizeBorderBig:3;
$sizeBorderSmall:1;



@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

body {
    background: $color-1-hex;
    font-family: 'Rammetto One', cursive;
    user-select: none;
}


.wrapper {
    margin-left: 0 auto;
    height: 100vh;
    // background-color: $color-5-hex;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
        width: 600px;
        // background-color: $color-5-hex;

        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: rotate(-1deg);

        @include text-stroke($sizeBorderBig, $color-2-hex);

        font-family: Rammetto One;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 54px;
        display: flex;
        align-items: center;
        text-align: center;


        &-time {
            color: #F2E96B;
            transform: rotate(-3deg);

        }

        &-menu {
            color: #F2E96B;
            transform: rotate(0deg);
        }

        &-move {
            color: #F2E96B;
            transform: rotate(-3deg);

            span {
                color: $color-4-hex;
            }
        }
    }

    &-pause {
        color: $color-5-hex;
        width: 600px;
        transform: rotate(-1deg);

        @include text-stroke($sizeBorderBig, $color-2-hex);

        font-family: Rammetto One;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 54px;

    }

    &-newGame {
        color: $color-5-hex;
        width: 600px;
        transform: rotate(-1deg);

        // @include text-stroke($sizeBorderBig, $color-2-hex);
        @include text-stroke($sizeBorderBig, $color-2-hex);
        // text-shadow: 3px 0 0 $color-2-hex, -3px 0 0 $color-2-hex, 0 3px 0 $color-2-hex, 0 -3px 0 $color-2-hex, 3px 3px $color-2-hex, -3px -3px 0 $color-2-hex, 3px -3px 0 $color-2-hex, -3px 3px 0 $color-2-hex;

        font-family: Rammetto One;
        font-style: normal;
        font-weight: normal;
        font-size: 33px;
        line-height: 54px;

    }

    &-gamebox {
        position: relative;
        width: 640px;
        height: 640px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        background: $color-3-hex;
        /* 3 */

        border: 7px solid $color-2-hex;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 32px;
        transform: rotate(-1deg);

        &-cell {
            // position: absolute;
            // width: 33%;
            // height: 33%;

            border: 1px dotted black;


            /* 3 */




            &-number {
                width: 90%;
                height: 90%;
                background: $color-5-hex;
                border: 7px solid $color-2-hex;
                box-sizing: border-box;
                border-radius: 16px;
                padding-left: 10px;

                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                transform: rotate(-1deg);
                align-items: center;

                cursor: pointer;
                user-select: none;
                // transition: transform 1s;

            }

            &-number:hover {
                // transform: translate(2px, 2px);
            }

            span {
                font-family: Rammetto One;
                font-style: normal;
                font-weight: normal;
                // font-size: 1rem;
                // line-height: 101px;
                display: flex;
                align-items: center;
                text-align: center;

                @include text-stroke($sizeBorderBig, $color-2-hex);

                color: #05F2C7;
                transform: rotate(-6deg);
                // background-color: blue;
            }
        }

        &-menu {
            width: 95%;
            height: 95%;
            // background-color: violet;

            font-family: Rammetto One;
            font-style: normal;
            font-weight: normal;

            @include text-stroke($sizeBorderBig, $color-2-hex);

            &-box1 {
                // background-color: yellow;
                font-size: 60px;
                line-height: 101px;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                /* 4 */

                color: $color-4-hex;
                // border: 5px solid #000000;
                // transform: rotate(-1.22deg);
            }

            &-box2 {
                // background-color: red;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                &-bestGames {
                    font-size: 48px;
                    line-height: 81px;
                    color: $color-5-hex;
                }

                &-bestGamesRez {
                    @include text-stroke($sizeBorderSmall, $color-2-hex);
                    color: $color-5-hex;

                }
            }
        }
    }
}

.mystyle {
    background-color: $color-6-hex;
    color: $color-5-hex;
    transition: transform 0.5s;
}

.mystyle:hover {
    transform: translate(5px, 5px);
    color: $color-3-hex;
    background-color: $color-5-hex;
}


.color1 {
    color: $color-1-hex;
}

.color2 {
    color: $color-2-hex;
}

.color3 {
    color: $color-3-hex;
}

.color4 {
    color: $color-4-hex;
}

.color5 {
    color: $color-5-hex;
}