@charset "UTF-8";
/* import  */
/* /import */
.center {
  margin-left: calc(50% - 1600px/2);
}

.section-inner {
  width: 1600px;
}

.section-header {
  position: absolute;
  z-index: 20;
}

.section-header-h1hiden {
  width: 0px;
  height: 0px;
}

.section-header-h1hiden h1 {
  font-size: 1px;
}

.section-header-meny {
  position: relative;
  top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-header-meny-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
}

.section-header-meny a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

.section-header-meny .underline {
  text-decoration: underline;
  opacity: 1;
}

.section-header-meny .opacity {
  opacity: 0.8;
}

.section-header-meny a:hover {
  opacity: 1;
}

.section-yourLife {
  position: relative;
  color: white;
  background-image: url("assets/bg-image.png");
  width: 1600px;
  height: 744px;
}

.section-yourLife-icon {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 715px;
  top: 635px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-yourLife-icon img {
  height: 20px;
  width: 20px;
}

.section-yourLife-wrapper__title {
  /* your life , a photo */
  position: absolute;
  width: 735px;
  height: 75px;
  left: 435px;
  top: 231px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.section-yourLife-wrapper__subtitle {
  /* print your life in a simple photo */
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 326px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  text-align: center;
}

.section-yourLife-wrapper__button button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 47px;
  position: absolute;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  border: none;
  background: #00AFDB;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-yourLife-wrapper__button button:hover {
  font-size: 14px;
  background: #009CC2;
}

.section-rappresent {
  position: relative;
  height: 842px;
  background-color: white;
}

.section-rappresent-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-rappresent-content-wrapper {
  margin: 120px 0px 0px 269px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405px;
}

.section-rappresent-content-wrapper__title {
  /* h2-24-bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 20px;
  padding: 0;
}

.section-rappresent-content-wrapper__subtitle {
  /* body-14-reg */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
}

.section-rappresent-content-wrapper__button {
  margin-top: 35px;
}

.section-rappresent-content-wrapper__button button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 47px;
  width: 184px;
  height: 46px;
  border: none;
  background: #00AFDB;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-rappresent-content-wrapper__button button:hover {
  font-size: 14px;
  background: #009CC2;
}

.section-rappresent-content-image {
  margin: 120px 269px 0px 0px;
  width: 407px;
  height: 582px;
}

.section-ourCommunity {
  width: 1600px;
  height: 504px;
  background-color: #F5F6F7;
}

.section-ourCommunity-pagenav {
  width: 81px;
  height: 20px;
  position: relative;
  top: -284px;
  left: 1252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #373737;
}

.section-ourCommunity-pagenav img {
  cursor: pointer;
}

.section-ourCommunity-pagenav img:hover {
  opacity: 0.5;
}

.section-ourCommunity-content {
  top: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-ourCommunity-content-wrapper1 {
  margin-top: 155px;
  margin-right: 139px;
  width: 298px;
  height: 175px;
}

.section-ourCommunity-content-wrapper1__avatar {
  position: relative;
  width: 45px;
  height: 45px;
  left: 127px;
  top: 0px;
}

.section-ourCommunity-content-wrapper1__title {
  /* our community */
  height: 20px;
  margin-top: 20px;
  /* h3-16-upper-bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.section-ourCommunity-content-wrapper1__text {
  height: 80px;
  margin-top: 10px;
  /* body-14-reg */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  /* or 20px */
  text-align: center;
  color: #4E4E4E;
}

.section-ourCommunity-content-wrapper2 {
  margin-top: 120px;
  width: 894px;
  height: 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-ourCommunity-content-wrapper2__image3 {
  overflow: hidden;
}

.section-ourCommunity-content-wrapper2 img {
  margin-right: 30px;
}

.section-implement {
  width: 1600px;
  height: 842px;
  background-color: white;
}

.section-implement-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-implement-content-image {
  margin-top: 120px;
  margin-left: 269px;
}

.section-implement-content-wrapper {
  margin: 120px 0px 0px 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 407px;
  height: 184px;
  margin-left: 139px;
  margin-top: 319px;
}

.section-implement-content-wrapper__title {
  /* h2-24-bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 20px;
  padding: 0;
}

.section-implement-content-wrapper__subtitle {
  /* body-14-reg */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #4E4E4E;
  margin-bottom: 30px;
}

.section-implement-content-wrapper__button button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 47px;
  width: 180px;
  height: 46px;
  border: none;
  background: #00AFDB;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-implement-content-wrapper__button button:hover {
  font-size: 14px;
  background: #009CC2;
}

.section-subscribe {
  width: 1600px;
  height: 524px;
  background-image: url("assets/pexels-christina-morillo.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-subscribe-content {
  width: 406px;
  height: 104px;
  margin-left: 597px;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-subscribe-content-title {
  width: 406px;
  height: 28px;
  text-align: center;
  /* h2-24-bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-subscribe-content-form {
  margin-top: 30px;
  width: 406px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-subscribe-content-form__input input {
  outline: none;
  width: 313px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  background: #FFFFFF;
  border-radius: 0px;
  border: 0;
  padding-left: 24px;
}

.section-subscribe-content-form__button button {
  cursor: pointer;
  width: 66px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00AFDB;
  border-radius: 0px;
  border: 0;
}

.section-subscribe-content-form__button button img {
  padding-top: 16px;
  padding-left: 19px;
  height: 14px;
}

.section-subscribe-content-form__button button:hover {
  font-size: 14px;
  background: #009BC2;
}

.section-subscribe-content-form__button button:active,
.section-subscribe-content-form__button button:focus {
  outline: none;
}

.section-subscribe-content-form__button button::-moz-focus-inner {
  border: 0;
}

.section-subscribe-content-emailerror {
  margin-top: 20px;
  padding-left: 24px;
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.9;
}

.section-download {
  width: 1600px;
  height: 464px;
  background: #F5F6F7;
}

.section-download-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-download-wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 255px;
  height: 28px;
  margin-left: calc(50% - 255px/2);
  margin-top: 120px;
  /* h2-24-bold */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.section-download-wrapper-text {
  margin-top: 20px;
  width: 483px;
  height: 40px;
  margin-left: calc(50% - 483px/2);
  /* body-14-reg */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  text-align: center;
  color: #4E4E4E;
}

.section-download-wrapper-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-download-wrapper-button button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 14px;
  margin-left: 14px;
  margin-top: 30px;
  width: 188px;
  height: 46px;
  border: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: start;
  color: #FFFFFF;
  background: #00AFDB;
  border-radius: 0px;
}

.section-download-wrapper-button button:hover {
  font-size: 14px;
  background: #009BC2;
}

.section-download-wrapper-button-text {
  width: 128px;
  margin-top: 16px;
  margin-left: 13px;
}

.section-download-wrapper-button-apple {
  width: 75px;
  height: 46px;
  background-color: #009CC2;
  position: relative;
  top: -1px;
  left: 6px;
  background-image: url(assets/icon-apple.png);
  background-position: 46%;
  background-repeat: no-repeat;
  /* Отменяем повторение фона */
}

.section-download-wrapper-button-android {
  width: 75px;
  height: 46px;
  background-color: #009CC2;
  position: relative;
  top: -1px;
  left: 6px;
  background-image: url(assets/icon-android.png);
  background-position: 50%;
  background-repeat: no-repeat;
  /* Отменяем повторение фона */
}

.section-footer {
  height: 185px;
  width: 1600px;
  background-color: black;
}

.section-footer-wrapper {
  padding-top: 60px;
  padding-left: 160px;
  padding-right: 160px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer-wrapper-nav {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4e4e4e;
}

.section-footer-wrapper-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  color: #FFFFFF;
  text-decoration: none;
}

.section-footer-wrapper-nav a:hover {
  text-decoration: underline;
}

.section-footer-wrapper-nav div {
  padding: 0px 19px 0px 19px;
}

.section-footer-wrapper-logo img {
  width: 45px;
  height: 45px;
}

.section-footer-wrapper-by {
  width: 40%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  text-align: right;
  color: #818181;
}
/*# sourceMappingURL=style.css.map */